<div id="head" class="bg-corail center">
  <div id="title">Mater'Happy</div>
  <div id="description" class="container py-4">
    L’association d'entraide bienveillante vers une maternité heureuse, une parentalité en conscience, une féminité inspirée et une conjugalité épanouie.
  </div>
</div>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid navbar-break">
      <a class="navbar-brand" rel="author" href="{{ "/" | relative_url }}"><i class="fa fa-home"></i> Accueil</a>
      {%- assign page_paths = site.header_pages -%}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
            <li class="nav-item">
              <a class="nav-link {% if my_page.url == page.url %}  active {% endif %}" href="{{ my_page.url | relative_url }}">
                {%- if my_page.icon -%}
                  <i class="fa fa-{{ my_page.icon | escape }}"></i>
                {%- endif -%}
                &nbsp; {{ my_page.menuTitle | escape }}</a>
            </li>
            {%- endif -%}
          {% endfor -%}
        </ul>
      </div>
    </div>
  </nav>