---
layout: default
---
<div class="row">
    <div class="box bg-box col-sm-6">
        <div id="asso" class="content">
            <h1><img src="/assets/icons/flagEarth.png" alt="flag with red heart icon"></h1>
            <h3>L'association</h3>
            <h6>Pour qui ?</h6>
            Les femmes, les mères, les couples, les futurs et les jeunes parents...
            <h6>Par qui ?</h6>
            Des professionnels de la naissance et des usagers bénévoles.
            <h6>Pourquoi ?</h6>
            Cocréer une tribu pour faciliter le lien entre pairs.
        </div>
    </div>
    <div class="box bg-box col-sm-6">
        <div class="content">
            <h1><img src="/assets/icons/diams.png" alt="shinning diamond icon"></h1>
            <h3>Nos valeurs</h3>
            <ul>
                <li>Soutenir de façon individuelle au sein du groupe</li>
                <li>Ecouter de manière active</li>
                <li>Accueillir les questionnements de chacun</li>
                <li>Etre solidaire avec bienveillance</li>
                <li>Partager ses expériences en toute confidentialité</li>
                <li>Accompagner avec respect </li>
                <li>Eveiller avec passion</li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="box bg-box col-sm-6">
        <div class="content">
            <h1><img src="/assets/icons/handHeart.png" alt="Hand support a red heart icon"></h1>
            <h3>Les Tchats</h3>
            <p>
                Groupes ressources d'échanges textuels pour créer du lien, continuer à communiquer en dehors des permanences visio, trouver du soutien, des réponses à vos
                questionnements auprès des autres membres ainsi que des thérapeutes bénévoles.
            </p>
        </div>
    </div>
    <div class="box bg-box col-sm-6">
        <div class="content">
            <h1><img src="/assets/icons/bulb.png" alt="Bulb icon"></h1>
            <h3>Les événements et les conférences.</h3>
            <p>
                Notamment <b>une réunion d'information gratuite, tout les premiers jeudi du mois</b>, pour vous faire découvrir
                l'association, communiquer sur les structures et services de la parentalité sur la région de Narbonne et ses alentours. 
                
                Organisation de conférences, formations, stages et ateliers sur le thème de la grossesse, de la naissance, de la parentalité, de la famille, du couple. 
                          </p>
        </div>
    </div>
</div>

<div id="visio" class="row">
    <div class="box col-sm-12 mb-4">
        <div class="content">
            <div class="row">
                <div class="col-8">
                    <h1><img src="/assets/icons/handshake.png" alt="Handshake icon"></h1>
                    <h3>Les permanences visios Happy'Naiss</h3>
                    Deux professionnels de la naissance animent un groupe d'échange sous forme de permanences visio, tous les mardis de 18h à 20h (sauf pendant les vacances scolaires de la zone C).
                    Pour y participer il vous suffit de vous connecter via ce <a href="https://us02web.zoom.us/j/810914192">
                    lien </a> zoom ou en scannant directement le QR code. Nous vous accueillerons avec plaisir dès votre première connexion (accéssible sans adhésion).
                </div>
                <div class="col-4">
                    <img src="/assets/qr.png" alt="QR Code de viso Mater'Happy">
                </div>
            </div>
        </div>
    </div>
</div>
