---
layout: default
---
<div class="row">
    <div class="box bg-box col-sm-6">
        <div id="asso" class="content">
            <h1><img src="/assets/icons/flagEarth.png" alt="flag with red heart icon"></h1>
            <h3>L'association</h3>
            <h6>Pour qui ?</h6>
            Les femmes, les mères, les pères, les couples, les futurs et les jeunes parents... du Narbonnais.
            <h6>Par qui ?</h6>
            Des professionnels de la naissance et des usagers bénévoles.
            <h6>Pourquoi ?</h6>
            Cocréer une tribu pour faciliter le lien entre pairs.
        </div>
    </div>
    <div class="box bg-box col-sm-6">
        <div class="content">
            <h1><img src="/assets/icons/diams.png" alt="shinning diamond icon"></h1>
            <h3>Nos valeurs</h3>
            <ul>
                <li>Soutenir de façon individuelle au sein du groupe</li>
                <li>Ecouter de manière active</li>
                <li>Accueillir les questionnements de chacun</li>
                <li>Etre solidaire avec bienveillance</li>
                <li>Partager ses expériences en toute confidentialité</li>
                <li>Accompagner avec respect </li>
                <li>Eveiller avec passion</li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="box bg-box col-sm-6">
        <div class="content">
            <h1><img src="/assets/icons/handHeart.png" alt="Hand support a red heart icon"></h1>
            <h3>Les Tchats</h3>
            <p>
                <b>Groupes ressources d'échanges textuels</b> pour créer du lien, continuer à communiquer en dehors des permanences visio, trouver du soutien, des réponses à vos
                questionnements auprès des autres membres ainsi que des thérapeutes bénévoles.
            </p>
        </div>
    </div>
    <div class="box bg-box col-sm-6">
        <div class="content">
            <h1><img src="/assets/icons/bulb.png" alt="Bulb icon"></h1>
            <h3>Les événements et les conférences.</h3>
            <p>
                Notamment organisation de conférences, formations, stages et ateliers sur le thème de la grossesse, de la naissance, de la parentalité, de la famille, du couple. 
            </p>
        </div>
    </div>
</div>

<div id="visio" class="row">
    <div class="box col-sm-12 mb-4">
        <div class="content">
            <div class="row">
                <div class="col-12">
                    <h1><img src="/assets/icons/talk.png" alt="Handshake icon"></h1>
                    <h3>Les permanences</h3>
                    <br>
                    <ul>
                        <li><b>Permanences Happy'Naiss.</b> Pour les futurs parents tous les mardis de 17H à 19H - gratuit. </li>
                        <li><b>Permanences Pause Bébé.</b> Pour les jeunes parents  tous les jeudis de 9H30 à 11H45 - 12 €.</li>
                    </ul>
                    Deux professionnels de la matérnité et de la naissance animent un groupe d'échange (sauf pendant les vacances scolaires de la zone C).
                    Nous vous accueillerons avec plaisir dès votre première visite (accéssible sans adhésion).
                    <br>
                    <br>
                    <p class="text-center text-bold"> Centre les Ursulines 4 Rue Denfert Rochereau 11100 Narbonne</p>
                </div>
            </div>
        </div>
    </div>
</div>
