---
layout: default
---
<div class="row">
    <div class="box bg-box col-sm-6">
        <div class="content">
            <h1><i class="fa fa-2x fa-heart text-corail text-shadow"></i></h1>
            <h3>L'association</h3>
            <h6>Pour qui ?</h6>
            Les femmes, les mères, les couples, les futurs et les jeunes parents...
            <h6>Par qui ?</h6>
            Des professionnels de la naissance et des usagers bénévoles.
            <h6>Pourquoi ?</h6>
            Cocréer une tribu pour faciliter le lien entre pair
        </div>
    </div>
    <div class="box bg-box col-sm-6">
        <div class="content">
            <h1><i class="fa fa-2x fa-diamond text-white text-shadow"></i></h1>
            <h3>Nos valeurs</h3>
            <ul>
                <li>Soutenir de façon individuelle au sein du groupe</li>
                <li>Ecouter de manière active</li>
                <li>Accueillir les questionnements de chacun</li>
                <li>Etre solidaire avec bienveillance</li>
                <li>Partager ses expériences en toute confidentialité</li>
                <li>Accompagner avec respect </li>
                <li>Eveiller avec passion</li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="box bg-box col-sm-6">
        <div class="content">
            <h1><i class="fa fa-2x fa-comments text-white text-shadow"></i></h1>
            <h3>Les Tchats</h3>
            <p>
                Groupes ressources pour créer le lien, continuer à échanger en dehors des permanences, trouver réponse à des
                questionnements...
            </p>
        </div>
    </div>
    <div class="box bg-box col-sm-6">
        <div class="content">
            <h1><i class="fa fa-2x fa-lightbulb-o"></i></h1>
            <h3>Les événements, les conférences...</h3>
            <p>
                Notamment <b>une réunion d'information gratuite, tout les premiers jeudi du mois</b>, pour vous faire découvrir
                l'association, le réseau narbonnais... Et bien d'autre chose encore, qui viendront par la suite avec divers
                intervenants possibles.
            </p>
        </div>
    </div>
</div>

<div id="visio" class="row">
    <div class="box col-sm-12 mb-4">
        <div class="content">
            <div class="row">
                <div class="col-8">
                    <h1><i class="fa fa-2x fa-handshake-o text-white text-shadow"></i></h1>
                    <h3>Les permanences visios</h3>
                    Happy'naiss, tous les mardi de 18 heures à 20 heures, sauf pendant les vacances scolaires, animé par
                    2 bénévoles. Il vous suffit de vous connecter via ce <a href="https://us02web.zoom.us/j/810914192">
                    lien </a> zoom ou en scannant directement le QR code.
                </div>
                <div class="col-4">
                    <img src="/assets/qr.png" alt="QR Code de viso Mater'Happy">
                </div>
            </div>
        </div>
    </div>
</div>
